<!DOCTYPE html>
<html>
<head>
    <title>List Orders</title>
</head>
<body>
    <h1>Order List</h1>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Phone Number</th>
            <th>Security Level</th>
            <th>Login Password</th>
        </tr>
        {% for customer in customers %}
        <tr>
            <td>{{ customer.name }}</td>
            <td>{{ customer.age }}</td>
            <td>{{ customer.phone_number }}</td>
            <td>{{ customer.security_role_level }}</td>
            <td>{{ customer.login_password }}</td>
        </tr>
        {% endfor %}
    </table>
    <a href="{{ url_for('home') }}">Back to Home</a>
</body>
</html>
